.heading {
  font-size: 3.6rem;
  font-weight: 400;
  text-align: center;
}
.text {
  font-size: 1.125rem;
  color: #62626b;
  text-align: center;
}
.inputContainer {
  position: relative;
  width: 100%;
}
.form {
  display: grid;
  margin-block: auto;
  gap: 10px;
  & > input,
  .inputContainer > input {
    padding: 1rem;
    padding-left: 2.5rem;
    border: white;
    border-width: 4px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.4);
    width: 100%;
  }
}
.inputIcon {
  position: absolute;
  left: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.formContainer {
  display: grid;
  margin: auto;
  max-width: 500px;
  gap: 1.5rem;
}
.btn {
  border: none;
  padding: 20px 12px;
  background: linear-gradient(to right, #6baef5, #57a3f4, #3e96f2);
  color: white;
  border-radius: 8px;
  font-size: medium;
}
