.container {
  display: flex;
  align-items: center;
  margin-inline: auto;
  min-height: 100dvh;
  justify-content: space-between;
  max-width: 1200px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fcfcfc;
  opacity: 90%;
  width: 100%;
  max-width: 800px;
  max-height: 450px;
  margin: auto;
  padding: 20px;
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.logo {
  mix-blend-mode: multiply;
}
.tabs {
  display: flex;
  gap: 10px;
  margin-block: 20px;
  border-radius: 999px;
  background: #e5e6e8;
  & > button {
    border: none;
    background: none;
    padding: 15px 100px;
    cursor: pointer;
    font-size: medium;
    font-weight: 600;
    border-radius: 999px;
    font-family: inherit;
  }
  & > .activeTab {
    opacity: 80%;
    background: linear-gradient(45deg, #ff5b00 0%, #f70072 57%, #860cdf 100%);
    color: white;
  }
}
