:root {
  --gradient-rotation: -45deg;

  --home-button-bg: linear-gradient(var(--gradient-rotation), #9146ff, #cc85ff);
  --logout-button-bg: linear-gradient(
    var(--gradient-rotation),
    #b33a68,
    #e64b87
  );
  --button-font-size: 1.3rem;
  --button-font-weight: 500;
}
.heading {
  margin-top: 2rem;
  text-align: center;
}
.description {
  margin-top: 2rem;
  text-wrap: balance;
  font-size: 1.2rem;
  text-align: center;
}
.homeButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--home-button-bg);
  border: none;
  border-radius: 4px;
  color: white;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}
.logoutButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--logout-button-bg);
  border: none;
  border-radius: 4px;
  color: white;
  width: auto;
  height: auto;
  cursor: pointer;
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
}
.dashboardButtons {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 250px;
  margin-block: 2rem;
}
