:root {
  --menu-button-bg: linear-gradient(
    to var(--gradient-position),
    #4e565c,
    #737273
  );
}
.button {
  display: flex;
  background: var(--menu-button-bg);
  border-radius: 100%;
  border: none;
  padding: 15px;
  margin-block: 10px;
  align-self: flex-end;
  justify-items: center;
  color: white;
  cursor: pointer;
}
